<!DOCTYPE html>
<html>
  <head>
    <title>RubyTutorial1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">	
	
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar-dark bg-dark">
  		<div class="container-fluid">
  			<div class="navbar-header">
	  			<a class="navbar-brand" href="/about">Mozer</a>
	  		</div>
	  		<ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		      <li><a href="/about">About</a></li>
		    </ul>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	    <%= yield %>
    </div>
  </body>
</html>
